# Copy this file to .env and fill in your own values.

# GitHub SSH key upload, optional
GITHUB_TOKEN=
GITHUB_USERNAME=

# GitLab SSH key upload, optional
GITLAB_URL=
GITLAB_USERNAME=
GITLAB_TOKEN=

# Jenkins tools
JENKINS_URL=
JENKINS_USER=
JENKINS_TOKEN=
